@import "mocha.css";

/* Global Styles */
* {
	font-family: "MesloLGS Nerd Font Mono Bold";
	font-size: 16px;
	min-height: 0;
	font-weight: bold;
}

window#waybar {
	background: transparent;
	color: #cdd6f4;
	transition: background-color 0.1s ease-in-out;
}

button {
	box-shadow: inset 0 -3px transparent;
	border: none;
	border-radius: 0;
}

button:hover {
	background: inherit;
	color: #cba6f7;
	border-top: 2px solid #cba6f7;
}

/* Workspaces */
#workspaces button {
	padding: 0 4px;
	margin: 0 2px;
	border-radius: 6px;
}

#workspaces button.urgent {
	background-color: #f38ba8;
}

/* Per-workspace icon colors */
#workspaces button:nth-child(1) {
	color: #a6e3a1;
}
#workspaces button:nth-child(2) {
	color: #89b4fa;
}
#workspaces button:nth-child(3) {
	color: #f9e2af;
}
#workspaces button:nth-child(4) {
	color: #cba6f7;
}
#workspaces button:nth-child(5) {
	color: #f5c2e7;
}

#workspaces button.active,
#workspaces button.focused {
	background-color: rgba(0, 0, 0, 0.3);
	border-top: 2px solid currentColor;
}

/* Modules Padding */
#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#wireplumber,
#tray,
#network,
#mode,
#scratchpad,
#custom-vpn,
#mpd,
#power-profiles-daemon,
#keyboard-state,
#custom-power {
	margin: 2px 4px;
	padding: 0 6px;
	color: #cdd6f4;
}

/* Colors per module */
#clock {
	color: #eba0ac;
}

#clock.date {
	color: #cba6f7;
}

#pulseaudio {
	color: #89b4fa;
}

#pulseaudio.muted {
	color: #f38ba8; /* Different color for muted state */
}

#pulseaudio.bluetooth {
	color: #b4befe; /* Different color for bluetooth audio */
}

#network {
	color: #f9e2af;
}

#battery {
	color: #a6e3a1;
}

#idle_inhibitor {
	margin-right: 12px;
	color: #7cb342;
}

#idle_inhibitor.activated {
	color: #f38ba8;
}

#custom-vpn {
	color: #b4befe;
	border-radius: 15px;
}

/* Remove margins when workspaces are first/last */
.modules-left > widget:first-child > #workspaces {
	margin-left: 0;
}
.modules-right > widget:last-child > #workspaces {
	margin-right: 0;
}

/* google calender widget css  */
#custom-gcal {
	color: #f0c674;
	font-weight: bold;
}

/* Additional module colors */
#cpu {
	color: #fab387;
}

#memory {
	color: #f5c2e7;
}

#temperature {
	color: #f38ba8;
}

#backlight {
	color: #f9e2af;
}

#mpd {
	color: #89dceb;
}

#power-profiles-daemon {
	color: #a6e3a1;
}

#keyboard-state {
	color: #cba6f7;
}

#custom-power {
	color: #f38ba8;
	font-size: 20px;
	padding: 0 10px;
}

#tray {
	color: #cdd6f4;
}
